@import 'nib';

global-reset();

@import './mixins';
@import './fonts';
@import './colors';

#cc-toolbar-container {
	// Components
	@import './components/Logo';
	@import './components/App';
	@import './components/Login';
	@import './components/Settings';
	@import './components/Phone';
	@import './components/UserChip';
	@import './components/Dialer';
	@import './components/Session';
	@import './components/Incoming';
}
